@charset "UTF-8";
/* CSS Document */
				
.aac16 {
	background:url(../cmsimages/icons/16px/aac.png) 4px 4px no-repeat;
}
				
.ai16 {
	background:url(../cmsimages/icons/16px/ai.png) 4px 4px no-repeat;
}
				
.aiff16 {
	background:url(../cmsimages/icons/16px/aiff.png) 4px 4px no-repeat;
}
				
.avi16 {
	background:url(../cmsimages/icons/16px/avi.png) 4px 4px no-repeat;
}
				
.bmp16 {
	background:url(../cmsimages/icons/16px/bmp.png) 4px 4px no-repeat;
}
				
.c16 {
	background:url(../cmsimages/icons/16px/c.png) 4px 4px no-repeat;
}
				
.cpp16 {
	background:url(../cmsimages/icons/16px/cpp.png) 4px 4px no-repeat;
}
				
.css16 {
	background:url(../cmsimages/icons/16px/css.png) 4px 4px no-repeat;
}
				
.dat16 {
	background:url(../cmsimages/icons/16px/dat.png) 4px 4px no-repeat;
}
				
.dir16 {
	background:url(../cmsimages/icons/16px/dir.png) 4px 4px no-repeat;
}
				
.dmg16 {
	background:url(../cmsimages/icons/16px/dmg.png) 4px 4px no-repeat;
}
				
.doc16 {
	background:url(../cmsimages/icons/16px/doc.png) 4px 4px no-repeat;
}
				
.docx16 {
	background:url(../cmsimages/icons/16px/docx.png) 4px 4px no-repeat;
}
				
.dotx16 {
	background:url(../cmsimages/icons/16px/dotx.png) 4px 4px no-repeat;
}
				
.dwg16 {
	background:url(../cmsimages/icons/16px/dwg.png) 4px 4px no-repeat;
}
				
.dxf16 {
	background:url(../cmsimages/icons/16px/dxf.png) 4px 4px no-repeat;
}
				
.eps16 {
	background:url(../cmsimages/icons/16px/eps.png) 4px 4px no-repeat;
}
				
.exe16 {
	background:url(../cmsimages/icons/16px/exe.png) 4px 4px no-repeat;
}
				
.flv16 {
	background:url(../cmsimages/icons/16px/flv.png) 4px 4px no-repeat;
}
				
.gif16 {
	background:url(../cmsimages/icons/16px/gif.png) 4px 4px no-repeat;
}
				
.h16 {
	background:url(../cmsimages/icons/16px/h.png) 4px 4px no-repeat;
}
				
.hpp16 {
	background:url(../cmsimages/icons/16px/hpp.png) 4px 4px no-repeat;
}
				
.html16 {
	background:url(../cmsimages/icons/16px/html.png) 4px 4px no-repeat;
}
				
.ics16 {
	background:url(../cmsimages/icons/16px/ics.png) 4px 4px no-repeat;
}
				
.iso16 {
	background:url(../cmsimages/icons/16px/iso.png) 4px 4px no-repeat;
}
				
.java16 {
	background:url(../cmsimages/icons/16px/java.png) 4px 4px no-repeat;
}
				
.jpg16 {
	background:url(../cmsimages/icons/16px/jpg.png) 4px 4px no-repeat;
}
				
.key16 {
	background:url(../cmsimages/icons/16px/key.png) 4px 4px no-repeat;
}
				
.mid16 {
	background:url(../cmsimages/icons/16px/mid.png) 4px 4px no-repeat;
}
				
.mp316 {
	background:url(../cmsimages/icons/16px/mp3.png) 4px 4px no-repeat;
}
				
.mp416 {
	background:url(../cmsimages/icons/16px/mp4.png) 4px 4px no-repeat;
}
				
.mpg16 {
	background:url(../cmsimages/icons/16px/mpg.png) 4px 4px no-repeat;
}
				
.odf16 {
	background:url(../cmsimages/icons/16px/odf.png) 4px 4px no-repeat;
}
				
.ods16 {
	background:url(../cmsimages/icons/16px/ods.png) 4px 4px no-repeat;
}
				
.odt16 {
	background:url(../cmsimages/icons/16px/odt.png) 4px 4px no-repeat;
}
				
.otp16 {
	background:url(../cmsimages/icons/16px/otp.png) 4px 4px no-repeat;
}
				
.ots16 {
	background:url(../cmsimages/icons/16px/ots.png) 4px 4px no-repeat;
}
				
.ott16 {
	background:url(../cmsimages/icons/16px/ott.png) 4px 4px no-repeat;
}
				
.pdf16 {
	background:url(../cmsimages/icons/16px/pdf.png) 4px 4px no-repeat;
}
				
.php16 {
	background:url(../cmsimages/icons/16px/php.png) 4px 4px no-repeat;
}
				
.png16 {
	background:url(../cmsimages/icons/16px/png.png) 4px 4px no-repeat;
}
				
.ppt16 {
	background:url(../cmsimages/icons/16px/ppt.png) 4px 4px no-repeat;
}
				
.psd16 {
	background:url(../cmsimages/icons/16px/psd.png) 4px 4px no-repeat;
}
				
.py16 {
	background:url(../cmsimages/icons/16px/py.png) 4px 4px no-repeat;
}
				
.qt16 {
	background:url(../cmsimages/icons/16px/qt.png) 4px 4px no-repeat;
}
				
.rar16 {
	background:url(../cmsimages/icons/16px/rar.png) 4px 4px no-repeat;
}
				
.rb16 {
	background:url(../cmsimages/icons/16px/rb.png) 4px 4px no-repeat;
}
				
.rtf16 {
	background:url(../cmsimages/icons/16px/rtf.png) 4px 4px no-repeat;
}
				
.sql16 {
	background:url(../cmsimages/icons/16px/sql.png) 4px 4px no-repeat;
}
				
.tga16 {
	background:url(../cmsimages/icons/16px/tga.png) 4px 4px no-repeat;
}
				
.tgz16 {
	background:url(../cmsimages/icons/16px/tgz.png) 4px 4px no-repeat;
}
				
.tif16 {
	background:url(../cmsimages/icons/16px/tiff.png) 4px 4px no-repeat;
}

.tiff16 {
	background:url(../cmsimages/icons/16px/tiff.png) 4px 4px no-repeat;
}
				
.txt16 {
	background:url(../cmsimages/icons/16px/txt.png) 4px 4px no-repeat;
}
				
.wav16 {
	background:url(../cmsimages/icons/16px/wav.png) 4px 4px no-repeat;
}
				
.xls16 {
	background:url(../cmsimages/icons/16px/xls.png) 4px 4px no-repeat;
}
				
.xlsx16 {
	background:url(../cmsimages/icons/16px/xlsx.png) 4px 4px no-repeat;
}
				
.xml16 {
	background:url(../cmsimages/icons/16px/xml.png) 4px 4px no-repeat;
}
				
.yml16 {
	background:url(../cmsimages/icons/16px/yml.png) 4px 4px no-repeat;
}
				
.zip16 {
	background:url(../cmsimages/icons/16px/zip.png) 4px 4px no-repeat;
}











.aac32 {
	background:url(../cmsimages/icons/32px/aac.png) 4px 4px no-repeat;
}
				
.ai32 {
	background:url(../cmsimages/icons/32px/ai.png) 4px 4px no-repeat;
}
				
.aiff32 {
	background:url(../cmsimages/icons/32px/aiff.png) 4px 4px no-repeat;
}
				
.avi32 {
	background:url(../cmsimages/icons/32px/avi.png) 4px 4px no-repeat;
}
				
.bmp32 {
	background:url(../cmsimages/icons/32px/bmp.png) 4px 4px no-repeat;
}
				
.c32 {
	background:url(../cmsimages/icons/32px/c.png) 4px 4px no-repeat;
}
				
.cpp32 {
	background:url(../cmsimages/icons/32px/cpp.png) 4px 4px no-repeat;
}
				
.css32 {
	background:url(../cmsimages/icons/32px/css.png) 4px 4px no-repeat;
}
				
.dat32 {
	background:url(../cmsimages/icons/32px/dat.png) 4px 4px no-repeat;
}
				
.dir32 {
	background:url(../cmsimages/icons/32px/dir.png) 4px 4px no-repeat;
}
				
.dmg32 {
	background:url(../cmsimages/icons/32px/dmg.png) 4px 4px no-repeat;
}
				
.doc32 {
	background:url(../cmsimages/icons/32px/doc.png) 4px 4px no-repeat;
}
				
.docx32 {
	background:url(../cmsimages/icons/32px/docx.png) 4px 4px no-repeat;
}
				
.dotx32 {
	background:url(../cmsimages/icons/32px/dotx.png) 4px 4px no-repeat;
}
				
.dwg32 {
	background:url(../cmsimages/icons/32px/dwg.png) 4px 4px no-repeat;
}
				
.dxf32 {
	background:url(../cmsimages/icons/32px/dxf.png) 4px 4px no-repeat;
}
				
.eps32 {
	background:url(../cmsimages/icons/32px/eps.png) 4px 4px no-repeat;
}
				
.exe32 {
	background:url(../cmsimages/icons/32px/exe.png) 4px 4px no-repeat;
}
				
.flv32 {
	background:url(../cmsimages/icons/32px/flv.png) 4px 4px no-repeat;
}
				
.gif32 {
	background:url(../cmsimages/icons/32px/gif.png) 4px 4px no-repeat;
}
				
.h32 {
	background:url(../cmsimages/icons/32px/h.png) 4px 4px no-repeat;
}
				
.hpp32 {
	background:url(../cmsimages/icons/32px/hpp.png) 4px 4px no-repeat;
}
				
.html32 {
	background:url(../cmsimages/icons/32px/html.png) 4px 4px no-repeat;
}
				
.ics32 {
	background:url(../cmsimages/icons/32px/ics.png) 4px 4px no-repeat;
}
				
.iso32 {
	background:url(../cmsimages/icons/32px/iso.png) 4px 4px no-repeat;
}
				
.java32 {
	background:url(../cmsimages/icons/32px/java.png) 4px 4px no-repeat;
}
				
.jpg32 {
	background:url(../cmsimages/icons/32px/jpg.png) 4px 4px no-repeat;
}
				
.key32 {
	background:url(../cmsimages/icons/32px/key.png) 4px 4px no-repeat;
}
				
.mid32 {
	background:url(../cmsimages/icons/32px/mid.png) 4px 4px no-repeat;
}
				
.mp332 {
	background:url(../cmsimages/icons/32px/mp3.png) 4px 4px no-repeat;
}
				
.mp432 {
	background:url(../cmsimages/icons/32px/mp4.png) 4px 4px no-repeat;
}
				
.mpg32 {
	background:url(../cmsimages/icons/32px/mpg.png) 4px 4px no-repeat;
}
				
.odf32 {
	background:url(../cmsimages/icons/32px/odf.png) 4px 4px no-repeat;
}
				
.ods32 {
	background:url(../cmsimages/icons/32px/ods.png) 4px 4px no-repeat;
}
				
.odt32 {
	background:url(../cmsimages/icons/32px/odt.png) 4px 4px no-repeat;
}
				
.otp32 {
	background:url(../cmsimages/icons/32px/otp.png) 4px 4px no-repeat;
}
				
.ots32 {
	background:url(../cmsimages/icons/32px/ots.png) 4px 4px no-repeat;
}
				
.ott32 {
	background:url(../cmsimages/icons/32px/ott.png) 4px 4px no-repeat;
}
				
.pdf32 {
	background:url(../cmsimages/icons/32px/pdf.png) 4px 4px no-repeat;
}
				
.php32 {
	background:url(../cmsimages/icons/32px/php.png) 4px 4px no-repeat;
}
				
.png32 {
	background:url(../cmsimages/icons/32px/png.png) 4px 4px no-repeat;
}
				
.ppt32 {
	background:url(../cmsimages/icons/32px/ppt.png) 4px 4px no-repeat;
}
				
.psd32 {
	background:url(../cmsimages/icons/32px/psd.png) 4px 4px no-repeat;
}
				
.py32 {
	background:url(../cmsimages/icons/32px/py.png) 4px 4px no-repeat;
}
				
.qt32 {
	background:url(../cmsimages/icons/32px/qt.png) 4px 4px no-repeat;
}
				
.rar32 {
	background:url(../cmsimages/icons/32px/rar.png) 4px 4px no-repeat;
}
				
.rb32 {
	background:url(../cmsimages/icons/32px/rb.png) 4px 4px no-repeat;
}
				
.rtf32 {
	background:url(../cmsimages/icons/32px/rtf.png) 4px 4px no-repeat;
}
				
.sql32 {
	background:url(../cmsimages/icons/32px/sql.png) 4px 4px no-repeat;
}
				
.tga32 {
	background:url(../cmsimages/icons/32px/tga.png) 4px 4px no-repeat;
}
				
.tgz32 {
	background:url(../cmsimages/icons/32px/tgz.png) 4px 4px no-repeat;
}
				
.tif32 {
	background:url(../cmsimages/icons/32px/tiff.png) 4px 4px no-repeat;
}

.tiff32 {
	background:url(../cmsimages/icons/32px/tiff.png) 4px 4px no-repeat;
}
				
.txt32 {
	background:url(../cmsimages/icons/32px/txt.png) 4px 4px no-repeat;
}
				
.wav32 {
	background:url(../cmsimages/icons/32px/wav.png) 4px 4px no-repeat;
}
				
.xls32 {
	background:url(../cmsimages/icons/32px/xls.png) 4px 4px no-repeat;
}
				
.xlsx32 {
	background:url(../cmsimages/icons/32px/xlsx.png) 4px 4px no-repeat;
}
				
.xml32 {
	background:url(../cmsimages/icons/32px/xml.png) 4px 4px no-repeat;
}
				
.yml32 {
	background:url(../cmsimages/icons/32px/yml.png) 4px 4px no-repeat;
}
				
.zip32 {
	background:url(../cmsimages/icons/32px/zip.png) 4px 4px no-repeat;
}
				






.aac48 {
	background:url(../cmsimages/icons/48px/aac.png) 4px 4px no-repeat;
}
				
.ai48 {
	background:url(../cmsimages/icons/48px/ai.png) 4px 4px no-repeat;
}
				
.aiff48 {
	background:url(../cmsimages/icons/48px/aiff.png) 4px 4px no-repeat;
}
				
.avi48 {
	background:url(../cmsimages/icons/48px/avi.png) 4px 4px no-repeat;
}
				
.bmp48 {
	background:url(../cmsimages/icons/48px/bmp.png) 4px 4px no-repeat;
}
				
.c48 {
	background:url(../cmsimages/icons/48px/c.png) 4px 4px no-repeat;
}
				
.cpp48 {
	background:url(../cmsimages/icons/48px/cpp.png) 4px 4px no-repeat;
}
				
.css48 {
	background:url(../cmsimages/icons/48px/css.png) 4px 4px no-repeat;
}
				
.dat48 {
	background:url(../cmsimages/icons/48px/dat.png) 4px 4px no-repeat;
}
				
.dir48 {
	background:url(../cmsimages/icons/48px/dir.png) 4px 4px no-repeat;
}
				
.dmg48 {
	background:url(../cmsimages/icons/48px/dmg.png) 4px 4px no-repeat;
}
				
.doc48 {
	background:url(../cmsimages/icons/48px/doc.png) 4px 4px no-repeat;
}
				
.docx48 {
	background:url(../cmsimages/icons/48px/docx.png) 4px 4px no-repeat;
}
				
.dotx48 {
	background:url(../cmsimages/icons/48px/dotx.png) 4px 4px no-repeat;
}
				
.dwg48 {
	background:url(../cmsimages/icons/48px/dwg.png) 4px 4px no-repeat;
}
				
.dxf48 {
	background:url(../cmsimages/icons/48px/dxf.png) 4px 4px no-repeat;
}
				
.eps48 {
	background:url(../cmsimages/icons/48px/eps.png) 4px 4px no-repeat;
}
				
.exe48 {
	background:url(../cmsimages/icons/48px/exe.png) 4px 4px no-repeat;
}
				
.flv48 {
	background:url(../cmsimages/icons/48px/flv.png) 4px 4px no-repeat;
}
				
.gif48 {
	background:url(../cmsimages/icons/48px/gif.png) 4px 4px no-repeat;
}
				
.h48 {
	background:url(../cmsimages/icons/48px/h.png) 4px 4px no-repeat;
}
				
.hpp48 {
	background:url(../cmsimages/icons/48px/hpp.png) 4px 4px no-repeat;
}
				
.html48 {
	background:url(../cmsimages/icons/48px/html.png) 4px 4px no-repeat;
}
				
.ics48 {
	background:url(../cmsimages/icons/48px/ics.png) 4px 4px no-repeat;
}
				
.iso48 {
	background:url(../cmsimages/icons/48px/iso.png) 4px 4px no-repeat;
}
				
.java48 {
	background:url(../cmsimages/icons/48px/java.png) 4px 4px no-repeat;
}
				
.jpg48 {
	background:url(../cmsimages/icons/48px/jpg.png) 4px 4px no-repeat;
}
				
.key48 {
	background:url(../cmsimages/icons/48px/key.png) 4px 4px no-repeat;
}
				
.mid48 {
	background:url(../cmsimages/icons/48px/mid.png) 4px 4px no-repeat;
}
				
.mp348 {
	background:url(../cmsimages/icons/48px/mp3.png) 4px 4px no-repeat;
}
				
.mp448 {
	background:url(../cmsimages/icons/48px/mp4.png) 4px 4px no-repeat;
}
				
.mpg48 {
	background:url(../cmsimages/icons/48px/mpg.png) 4px 4px no-repeat;
}
				
.odf48 {
	background:url(../cmsimages/icons/48px/odf.png) 4px 4px no-repeat;
}
				
.ods48 {
	background:url(../cmsimages/icons/48px/ods.png) 4px 4px no-repeat;
}
				
.odt48 {
	background:url(../cmsimages/icons/48px/odt.png) 4px 4px no-repeat;
}
				
.otp48 {
	background:url(../cmsimages/icons/48px/otp.png) 4px 4px no-repeat;
}
				
.ots48 {
	background:url(../cmsimages/icons/48px/ots.png) 4px 4px no-repeat;
}
				
.ott48 {
	background:url(../cmsimages/icons/48px/ott.png) 4px 4px no-repeat;
}
				
.pdf48 {
	background:url(../cmsimages/icons/48px/pdf.png) 4px 4px no-repeat;
}
				
.php48 {
	background:url(../cmsimages/icons/48px/php.png) 4px 4px no-repeat;
}
				
.png48 {
	background:url(../cmsimages/icons/48px/png.png) 4px 4px no-repeat;
}
				
.ppt48 {
	background:url(../cmsimages/icons/48px/ppt.png) 4px 4px no-repeat;
}
				
.psd48 {
	background:url(../cmsimages/icons/48px/psd.png) 4px 4px no-repeat;
}
				
.py48 {
	background:url(../cmsimages/icons/48px/py.png) 4px 4px no-repeat;
}
				
.qt48 {
	background:url(../cmsimages/icons/48px/qt.png) 4px 4px no-repeat;
}
				
.rar48 {
	background:url(../cmsimages/icons/48px/rar.png) 4px 4px no-repeat;
}
				
.rb48 {
	background:url(../cmsimages/icons/48px/rb.png) 4px 4px no-repeat;
}
				
.rtf48 {
	background:url(../cmsimages/icons/48px/rtf.png) 4px 4px no-repeat;
}
				
.sql48 {
	background:url(../cmsimages/icons/48px/sql.png) 4px 4px no-repeat;
}
				
.tga48 {
	background:url(../cmsimages/icons/48px/tga.png) 4px 4px no-repeat;
}
				
.tgz48 {
	background:url(../cmsimages/icons/48px/tgz.png) 4px 4px no-repeat;
}
				
.tif48 {
	background:url(../cmsimages/icons/48px/tiff.png) 4px 4px no-repeat;
}

.tiff48 {
	background:url(../cmsimages/icons/48px/tiff.png) 4px 4px no-repeat;
}
				
.txt48 {
	background:url(../cmsimages/icons/48px/txt.png) 4px 4px no-repeat;
}
				
.wav48 {
	background:url(../cmsimages/icons/48px/wav.png) 4px 4px no-repeat;
}
				
.xls48 {
	background:url(../cmsimages/icons/48px/xls.png) 4px 4px no-repeat;
}
				
.xlsx48 {
	background:url(../cmsimages/icons/48px/xlsx.png) 4px 4px no-repeat;
}
				
.xml48 {
	background:url(../cmsimages/icons/48px/xml.png) 4px 4px no-repeat;
}
				
.yml48 {
	background:url(../cmsimages/icons/48px/yml.png) 4px 4px no-repeat;
}
				
.zip48 {
	background:url(../cmsimages/icons/48px/zip.png) 4px 4px no-repeat;
}
				




.aac512 {
	background:url(../cmsimages/icons/512px/aac.png) 4px 4px no-repeat;
}
				
.ai512 {
	background:url(../cmsimages/icons/512px/ai.png) 4px 4px no-repeat;
}
				
.aiff512 {
	background:url(../cmsimages/icons/512px/aiff.png) 4px 4px no-repeat;
}
				
.avi512 {
	background:url(../cmsimages/icons/512px/avi.png) 4px 4px no-repeat;
}
				
.bmp512 {
	background:url(../cmsimages/icons/512px/bmp.png) 4px 4px no-repeat;
}
				
.c512 {
	background:url(../cmsimages/icons/512px/c.png) 4px 4px no-repeat;
}
				
.cpp512 {
	background:url(../cmsimages/icons/512px/cpp.png) 4px 4px no-repeat;
}
				
.css512 {
	background:url(../cmsimages/icons/512px/css.png) 4px 4px no-repeat;
}
				
.dat512 {
	background:url(../cmsimages/icons/512px/dat.png) 4px 4px no-repeat;
}
				
.dir512 {
	background:url(../cmsimages/icons/512px/dir.png) 4px 4px no-repeat;
}
				
.dmg512 {
	background:url(../cmsimages/icons/512px/dmg.png) 4px 4px no-repeat;
}
				
.doc512 {
	background:url(../cmsimages/icons/512px/doc.png) 4px 4px no-repeat;
}
				
.docx512 {
	background:url(../cmsimages/icons/512px/docx.png) 4px 4px no-repeat;
}
				
.dotx512 {
	background:url(../cmsimages/icons/512px/dotx.png) 4px 4px no-repeat;
}
				
.dwg512 {
	background:url(../cmsimages/icons/512px/dwg.png) 4px 4px no-repeat;
}
				
.dxf512 {
	background:url(../cmsimages/icons/512px/dxf.png) 4px 4px no-repeat;
}
				
.eps512 {
	background:url(../cmsimages/icons/512px/eps.png) 4px 4px no-repeat;
}
				
.exe512 {
	background:url(../cmsimages/icons/512px/exe.png) 4px 4px no-repeat;
}
				
.flv512 {
	background:url(../cmsimages/icons/512px/flv.png) 4px 4px no-repeat;
}
				
.gif512 {
	background:url(../cmsimages/icons/512px/gif.png) 4px 4px no-repeat;
}
				
.h512 {
	background:url(../cmsimages/icons/512px/h.png) 4px 4px no-repeat;
}
				
.hpp512 {
	background:url(../cmsimages/icons/512px/hpp.png) 4px 4px no-repeat;
}
				
.html512 {
	background:url(../cmsimages/icons/512px/html.png) 4px 4px no-repeat;
}
				
.ics512 {
	background:url(../cmsimages/icons/512px/ics.png) 4px 4px no-repeat;
}
				
.iso512 {
	background:url(../cmsimages/icons/512px/iso.png) 4px 4px no-repeat;
}
				
.java512 {
	background:url(../cmsimages/icons/512px/java.png) 4px 4px no-repeat;
}
				
.jpg512 {
	background:url(../cmsimages/icons/512px/jpg.png) 4px 4px no-repeat;
}
				
.key512 {
	background:url(../cmsimages/icons/512px/key.png) 4px 4px no-repeat;
}
				
.mid512 {
	background:url(../cmsimages/icons/512px/mid.png) 4px 4px no-repeat;
}
				
.mp3512 {
	background:url(../cmsimages/icons/512px/mp3.png) 4px 4px no-repeat;
}
				
.mp4512 {
	background:url(../cmsimages/icons/512px/mp4.png) 4px 4px no-repeat;
}
				
.mpg512 {
	background:url(../cmsimages/icons/512px/mpg.png) 4px 4px no-repeat;
}
				
.odf512 {
	background:url(../cmsimages/icons/512px/odf.png) 4px 4px no-repeat;
}
				
.ods512 {
	background:url(../cmsimages/icons/512px/ods.png) 4px 4px no-repeat;
}
				
.odt512 {
	background:url(../cmsimages/icons/512px/odt.png) 4px 4px no-repeat;
}
				
.otp512 {
	background:url(../cmsimages/icons/512px/otp.png) 4px 4px no-repeat;
}
				
.ots512 {
	background:url(../cmsimages/icons/512px/ots.png) 4px 4px no-repeat;
}
				
.ott512 {
	background:url(../cmsimages/icons/512px/ott.png) 4px 4px no-repeat;
}
				
.pdf512 {
	background:url(../cmsimages/icons/512px/pdf.png) 4px 4px no-repeat;
}
				
.php512 {
	background:url(../cmsimages/icons/512px/php.png) 4px 4px no-repeat;
}
				
.png512 {
	background:url(../cmsimages/icons/512px/png.png) 4px 4px no-repeat;
}
				
.ppt512 {
	background:url(../cmsimages/icons/512px/ppt.png) 4px 4px no-repeat;
}
				
.psd512 {
	background:url(../cmsimages/icons/512px/psd.png) 4px 4px no-repeat;
}
				
.py512 {
	background:url(../cmsimages/icons/512px/py.png) 4px 4px no-repeat;
}
				
.qt512 {
	background:url(../cmsimages/icons/512px/qt.png) 4px 4px no-repeat;
}
				
.rar512 {
	background:url(../cmsimages/icons/512px/rar.png) 4px 4px no-repeat;
}
				
.rb512 {
	background:url(../cmsimages/icons/512px/rb.png) 4px 4px no-repeat;
}
				
.rtf512 {
	background:url(../cmsimages/icons/512px/rtf.png) 4px 4px no-repeat;
}
				
.sql512 {
	background:url(../cmsimages/icons/512px/sql.png) 4px 4px no-repeat;
}
				
.tga512 {
	background:url(../cmsimages/icons/512px/tga.png) 4px 4px no-repeat;
}
				
.tgz512 {
	background:url(../cmsimages/icons/512px/tgz.png) 4px 4px no-repeat;
}
				
.tif512 {
	background:url(../cmsimages/icons/512px/tiff.png) 4px 4px no-repeat;
}

.tiff512 {
	background:url(../cmsimages/icons/512px/tiff.png) 4px 4px no-repeat;
}
				
.txt512 {
	background:url(../cmsimages/icons/512px/txt.png) 4px 4px no-repeat;
}
				
.wav512 {
	background:url(../cmsimages/icons/512px/wav.png) 4px 4px no-repeat;
}
				
.xls512 {
	background:url(../cmsimages/icons/512px/xls.png) 4px 4px no-repeat;
}
				
.xlsx512 {
	background:url(../cmsimages/icons/512px/xlsx.png) 4px 4px no-repeat;
}
				
.xml512 {
	background:url(../cmsimages/icons/512px/xml.png) 4px 4px no-repeat;
}
				
.yml512 {
	background:url(../cmsimages/icons/512px/yml.png) 4px 4px no-repeat;
}
				
.zip512 {
	background:url(../cmsimages/icons/512px/zip.png) 4px 4px no-repeat;
}
				







.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}