@charset "UTF-8";
/* USER INTERFACE */


.sectionBar{
height:45px;
background-color:#434343; 
margin-bottom:40px;
margin-top:60px;
}

#Content h4 span {
    font-family:'HelveticaNeueW01-55Roma', helvetica, sans-serif; 
	font-size:12px;
	line-height:32px;
	color: #666666;
	float:right;
	width:615px;
	text-align:right;
}



.textBlockSupport table{
	width:100%;
	border 2px solid #fff;
	background-color: #fff;
	border-collapse: collapse;
    font-family:'HelveticaNeueW01-55Roma', helvetica, sans-serif; 
	color:#434343;
}

.textBlockSupport table .topRowRed{
	background-color:#eb2a31;
	padding:15px;
}
.textBlockSupport table .topRowRed td {
	color:#fff;
    font-family:'HelveticaNeueW01-75Bold', helvetica, sans-serif; }
 
 .textBlockSupport table .topRowTd{
	padding:15px;
	border: 2px solid #fff;
 }
 
 .textBlockSupport table .topRowTdLarge{
	padding:15px;
	border: 2px solid #fff;
	width:367px;
 }
 
.textBlockSupport table td{
	padding:15px;
	border: 2px solid #f1f1f1;
    font-family:'HelveticaNeueW01-55Roma', helvetica, sans-serif; 
	color:#434343;
 }
 
 .textBlockSupport table .tdLarge{
	padding:15px;
	border: 2px solid #f1f1f1;
	width:367px;
 }
 
  .textBlockSupport table .tdLarge span{
    font-family:'HelveticaNeueW01-75Bold', helvetica, sans-serif; clear:right;
 }

h5 {
	margin-bottom:6px;
}
.contentpadding p {
	font-size:13px;
}









/* FORMS */

#mainBlock .pubSignUpTable{
width: 825px;
margin: 0 auto;
padding:0;
border-collapse: collapse;
}


#mainBlock .pubSignUpTable tr td.left{
width:50%;
padding:15px 20px 15px 20px;
border-right: 1px solid #cfd0d2;

}

#mainBlock .pubSignUpTable tr td{
width:50%;
padding:15px 20px 15px 20px;

}


.select1{
width:375px;
	color:#000;
	font-size: 12pt;
	float: left;
	clear: left;
}

#mainBlock label{
font-size: 13px;
line-height:20px;
color: #4c4d4c;
float: left;
clear: left;
display: block;
}

.subscribe .text,
.subscribe .textarea {
	color:#000;
	margin:0;
	padding:0 9px;
	outline:none;
	background:#fff;
	border:1px solid #dbdbdb;
	width:375px;
	height:28px;
	line-height:26px;
	float:left;
	clear:left;
}


#mainBlock .star {
	color:#e80f18;
}

#mainBlock .agreementBoxes{
height: 32px;
margin-bottom:10px;
}

#mainBlock .agreementBoxes span{
font-size: 12pt;
display:block;
padding-top:8px;
padding-left:8px;
}

#mainBlock .agreementBoxes span strong{
font-weight: bold;
}

.submitButton{
float:right;
}

.requiredDisclaimer{
float:left;
}